.footer{
    background-color: #F2F2F2;
    width: 1480px;
height: 517px;
margin-left: 7px;
}
.footer-grid{
    display:grid;
    grid-template-columns: auto auto auto auto auto;
    padding-top:82px;
    padding-left:150px;
}
.footer-grid p{
    font-size:12px;
}
.footer-grid .btn-grp{
    margin-top:30px;
}